.content {
  img[alt=small] { width: 400px;  margin-left: auto; margin-right: auto; }
  ul,
  ol {
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px !important;
    li {
      margin-bottom: 5px;
      margin-left: 20px;
      list-style-type: circle;
    }
    @media (max-width: 425px){
      padding: 0px !important;
    }
  }
  a {
    text-decoration: underline;
  }
  p {
    color: rgb(78, 78, 78);
    font-family: $font-family-base;
    @media (max-width: 425px){
      font-size: 16px !important;
    }
  }
  h1 {
    font-family: $font-family-heading;
    line-height: 1.2;
    font-weight: $font-weight-light;
    color: #333333;
    @include media-breakpoint-up(md) {
      line-height: 1.2;
      font-weight: $font-weight-light;
    }
  }
  h2 {
    font-family: $font-family-heading;
    line-height: 1.4;
    font-weight: 400;
    color: #333333;
    @include media-breakpoint-up(md) {
      line-height: 1.4;
    }
  }
  // Subheading
  h3 {
    color: $primary;
    line-height: 1.4;
    font-weight: $font-weight-thin;
    letter-spacing: 1px;
    @include media-breakpoint-up(md) {
      line-height: 1.2; //originally 1.4
      letter-spacing: -2px !important; //originally 1.8px
      font-weight: 500;  //originally $font-weight-thin
    }
    @media (max-width:425px){
      font-size: 22px !important;
    }
  }
}

// @media only screen and (max-width: 425px){
//   .content h3{
//     font-size: 23px;
//   }
//   .content p{
//     font-size: 16px;
//   }
// }
