<style>
    .container {
        display: flex;
        justify-content: flex-end; /* Align items to the right */
        align-items: center;
        position: static; /* Center vertically relative to the content */
        
    }
    .btn:hover {
        transform: scale(0.95); 
  color: white;
    }
    @media (max-width: 900px) {
        .btn {
            background-color: #fed130;
            color: rgb(53, 53, 53);
            font-weight: bold;
            border: none;
            border-radius: 5px;
            display: inline-block;
            margin-left: 150px; 
            padding: 5px 5px;
            font-size: 20px;
            position: absolute;
            top: 405px; 
            right: 25px;
        }
    }
    @media (min-width: 901px) {
        .btn {
            background-color: #fed130;
            color: rgb(53, 53, 53);
            font-weight: bold;
            border: none;
            border-radius: 5px;
            display: inline-block;
            margin-left: 250px; 
            padding: 10px 10px;
            font-size: 20px;
            position: absolute;
            top: 400px; 
            right: 400px;
            
        }
    }
    @media (min-width: 601px) and (max-width: 900px) {
        .btn {
            background-color: #fed130;
            color: rgb(53, 53, 53);
            font-weight: bold;
            border: none;
            border-radius: 5px;
            display: inline-block;
            margin-left: 450px; 
            padding: 5px 5px;
            font-size: 20px;
            position: absolute;
            top: 400px; 
            right: 84px;
        }
    }
  </style>